
<%= form_with model: @post do |form|%>
    <div class="header-group">
        <h1>New Post</h1>
        <div class= 'sub-header'>
            Tell us your anonimous words
        </div>
    </div>
    <div class="form-group">
        <%= form.label :title %>
        <%= form.text_field :title, class:"form-control" %>
    </div>

    <div class="form-group">
        <%= form.label :body %>
        <%= form.text_area :body, rows:10, class:"form-control" %>
    </div>

    <div class="submit-group">
        <%= form.submit "Create Post"%>
    </div>
<% end %>
<%# <script type="text/javascript" src="https://form.jotform.com/jsform/233413301606645"></script> %>